
body{
	background-color:#eeeeee;
	padding:0px;
	margin:0 0 0 0;
}
	
.container{
		   background-color:#000000;
		   max-width:900px;
		   width:35%;		   
		   border-radius:10px;
		   margin:auto;
		   margin-top:5%;
		   display:table;		   
		   }

.content{
		   background-color:#fff;
		   padding-left: 32px;
		   padding-top: 32px;
		   padding-bottom: 32px;
		   overflow: hidden;
		   border-bottom-left-radius: 5px;
		   border-bottom-right-radius: 5px;		   
		   }
		   
input{	
		padding:8px;
		margin-left:24px;
		margin:8px;
	 }
	 
 #email,#password,#cpassword{width:339px;}
